.btn-custom {
  background-color: rgba(255, 255, 255, 0.9);
  color: #005fad;
  border-radius: 25px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
}

.btn-custom .title {
  font-weight: bold;
  font-size: 14px;
}
.action_btn {
  flex: 1;
  font-size: 14px;
  padding: 10px 15px;
  background-color: #005fad;
  color: white;
  border-radius: 25px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  white-space: normal;
  text-align: center;
  max-width: 100%;
}
.action_btn:hover {
  background-color: #5f8cbf;
  color: white;
}
.new-btn {
  background-color: #ff0000;
  color: white;
  border-radius: 25px;
  padding: 12px 9px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 2px;
  width: 98%;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.new-btn:hover {
  background-color: #ff4444;
}
.desc_text {
  color: black;
}
