<div class="main-page">
    <div class="container">
        <div class="main-content mt-5">
            <div class="header text-center">

                <!-- صورة المستخدم -->
                <div class="mb-3">
                    <img *ngIf="profile?.image; else noImg" [src]="profile.image" alt="Profile Image" class="rounded-circle shadow" width="150" height="150" style="object-fit: cover;">
                    <ng-template #noImg>
                        <i class="bi bi-person-circle text-secondary" style="font-size: 60px;"></i>
                    </ng-template>
                </div>
            </div>

            <div class="content mb-5">
                <!-- 1. Mobile -->
                <div class="contact w-100 p-3  d-flex gap-3 btn-custom" [class.disabled]="!profile.mobile1" (click)="callMobile(profile.mobile1)">
                    <div class="image">
                        <a class="btn btn-light rounded-circle shadow-sm ">
                            <i class="bi bi-phone-fill text-success"></i>
                        </a>
                    </div>
                    <div class="data d-flex flex-column justify-content-center gap-1">
                        <p class="title m-0">Mobile</p>
                        <p class="m-0 desc_text">إتصل بي</p>
                    </div>
                </div>
                <!-- 2. Telephone -->
                <div class="contact w-100 p-3  d-flex gap-3 btn-custom" [class.disabled]="!profile.mobile2" (click)="callTelephone(profile.mobile2)">
                    <div class="image">
                        <a class="btn btn-light rounded-circle shadow-sm ">
                            <i class="bi bi-telephone-fill text-primary"></i>
                        </a>
                    </div>
                    <div class="data d-flex flex-column justify-content-center gap-1">
                        <p class="title m-0">Telephone</p>
                        <p class="m-0 desc_text">إتصل بي</p>
                    </div>
                </div>
                <!-- 3. WhatsApp -->
                <div class="contact w-100 p-3  d-flex gap-3 btn-custom" [class.disabled]="!profile.whatsApp" (click)="openWhatsApp(profile.whatsApp)">
                    <div class="image">
                        <a class="btn btn-light rounded-circle shadow-sm ">
                            <i class="bi bi-whatsapp text-success"></i>
                        </a>
                    </div>
                    <div class="data d-flex flex-column justify-content-center gap-1">
                        <p class="title m-0">WhatsApp</p>
                        <p class="m-0 desc_text">راسلني</p>
                    </div>
                </div>
                <!-- 4. Facebook -->
                <div class="contact w-100 p-3  d-flex gap-3 btn-custom" [class.disabled]="!profile.faceBook" (click)="openFacebook(profile.faceBook)">
                    <div class="image">
                        <a class="btn btn-light rounded-circle shadow-sm ">
                            <i class="bi bi-facebook text-primary"></i>
                        </a>
                    </div>
                    <div class="data d-flex flex-column justify-content-center gap-1">
                        <p class="title m-0">Facebook</p>
                        <p class="m-0 desc_text">تابعنى على فيس بوك</p>
                    </div>
                </div>
                <!-- 5. Instagram -->
                <div class="contact w-100 p-3  d-flex gap-3 btn-custom" [class.disabled]="!profile.instagram" (click)="openInstagram(profile.instagram)">
                    <div class="image">
                        <a class="btn btn-light rounded-circle shadow-sm ">
                            <i class="bi bi-instagram text-danger"></i>
                        </a>
                    </div>
                    <div class="data d-flex flex-column justify-content-center gap-1">
                        <p class="title m-0">Instagram</p>
                        <p class="m-0 desc_text">تابعنى على إنستجرام</p>
                    </div>
                </div>
                <!-- 6. TikTok -->
                <div class="contact w-100 p-3  d-flex gap-3 btn-custom" [class.disabled]="!profile.tikTok" (click)="openTikTok(profile.tikTok)">
                    <div class="image">
                        <a class="btn btn-light rounded-circle shadow-sm ">
                            <i class="bi bi-tiktok text-dark"></i>
                        </a>
                    </div>
                    <div class="data d-flex flex-column justify-content-center gap-1">
                        <p class="title m-0">TikTok</p>
                        <p class="m-0 desc_text">تابعنى على تيك توك</p>
                    </div>
                </div>
                <!-- 7. Email -->
                <div class="contact w-100 p-3  d-flex gap-3 btn-custom" [class.disabled]="!profile.email" (click)="sendEmail(profile.email)">
                    <div class="image">
                        <a class="btn btn-light rounded-circle shadow-sm ">
                            <i class="bi bi-envelope-fill text-danger"></i>
                        </a>
                    </div>
                    <div class="data d-flex flex-column justify-content-center gap-1">
                        <p class="title m-0">Email</p>
                        <p class="m-0 desc_text">راسلني</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions d-flex justify-content-center gap-3 w-100 align-items-center p-3 mb-4">
            <div class="flex-grow-1">
                <button class="action_btn w-100" type="button" (click)="shareProfile()">مشاركة البيانات</button>
            </div>
            <div class="flex-grow-1">
                <button class="action_btn w-100" type="button" (click)="saveVcf()">حفظ جهة الاتصال</button>
            </div>
            <div class="flex-grow-1">
                <button class="action_btn w-100" type="button" (click)="ConfirmPopup()"> تعديل البيانات</button>
            </div>
        </div>
        <div class="w-100 ">
            <button class="new-btn w-100" type="button" (click)="openPromo()">خليك .. ديجيتال واستفاد بالعرض</button>
        </div>
        <p class="text-center fs-1 text-primary mt-5 mb-5">Powered By AshalNet Work</p>
    </div>
</div>